@use 'vars/variables';
@use 'vars/mixins' as mixins;
@use 'sections/about';
@use 'sections/contact';
@use 'sections/home';
@use 'sections/services';
@use 'menu';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @include mixins.flex;
  flex-flow: column wrap;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  box-shadow: 0 0 2px 1px var(--primary-color);
  outline: 0 none;
}

.wrapper {
  max-width: 100rem;
  position: relative;
  @include mixins.flex;
  flex-flow: column wrap;
}

.arrow-up {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 30px;
  transform: rotate(-90deg);
  color: gray;
  cursor: pointer;
  font-size: 2.5rem;

  &:hover {
    color: var(--primary-active);
    transition: 0.3s;
  }
}

.circle {
  position: absolute;
  border-radius: 50%;
}

/*
section {
  position: relative;
}

.circle-1 {
  @include mixins.circle(2rem, 13rem, 3rem, #f9c400);
}

.circle-2 {
  @include mixins.circle(15rem, 2rem, 2rem, #fe9194);
}

.circle-3 {
  @include mixins.circle(calc(100vw - 7rem), 12rem, 2.6rem, #06c59a);
}

.circle-4 {
  @include mixins.circle(calc(100vw - 9rem), 37rem, 1.5rem, #69c4bf);
}

.circle-5 {
  @include mixins.circle(calc(100vw - 5rem), 24rem, 1.7rem, #fe9194);
}

.circle-6 {
  @include mixins.circle(4rem, 40rem, 3rem, #4125c7);
}
*/
