@use 'vars/variables';
@use 'vars/mixins' as mixins;
@use 'sections/about';
@use 'sections/contact';
@use 'sections/home';
@use 'sections/services';
@use 'menu';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @include mixins.flex;
  flex-flow: column wrap;
  background-color: var(--primary-theme);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;

  &::selection {
    background-color: var(--primary-red);
    color: var(--primary-white);
  }
}

*:focus {
  box-shadow: 0 0 2px 1px var(--primary-color);
  outline: 0 none;
}

.wrapper {
  max-width: 100rem;
  position: relative;
  @include mixins.flex;
  flex-flow: column wrap;
}

section {
  scroll-margin-top: 65px;
}

.footer {
  width: 100%;
  background-color: var(--primary-active);
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.arrow-up {
  position: fixed;
  z-index: 100;
  bottom: 80px;
  right: 20px;
  transform: rotate(-90deg);
  color: var(--primary-gray);
  cursor: pointer;
  font-size: 2rem;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-active);
  }
}

@media all and (min-width: 750px) {
  .arrow-up {
    bottom: 30px;
    right: 30px;
    font-size: 2.5rem;
  }
}

/*



.circle {
  position: absolute;
  border-radius: 50%;
}


section {
  position: relative;
}

.circle-1 {
  @include mixins.circle(2rem, 13rem, 3rem, #f9c400);
}

.circle-2 {
  @include mixins.circle(15rem, 2rem, 2rem, #fe9194);
}

.circle-3 {
  @include mixins.circle(calc(100vw - 7rem), 12rem, 2.6rem, #06c59a);
}

.circle-4 {
  @include mixins.circle(calc(100vw - 9rem), 37rem, 1.5rem, #69c4bf);
}

.circle-5 {
  @include mixins.circle(calc(100vw - 5rem), 24rem, 1.7rem, #fe9194);
}

.circle-6 {
  @include mixins.circle(4rem, 40rem, 3rem, #4125c7);
}
*/

/*
  Improved screen reader only CSS class
  @author Gaël Poupard
    @note Based on Yahoo!'s technique
    @author Thierry Koblentz
    @see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
  * 1.
    @note `clip` is deprecated but works everywhere
    @see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
  * 2.
    @note `clip-path` is the future-proof version, but not very well supported yet
    @see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
    @see http://caniuse.com/#search=clip-path
    @author Yvain Liechti
    @see https://twitter.com/ryuran78/status/778943389819604992
  * 3.
    @note preventing text to be condensed
    author J. Renée Beach
    @see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
    @note Drupal 8 goes with word-wrap: normal instead
    @see https://www.drupal.org/node/2045151
    @see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
  * 4.
    @note !important is important
    @note Obviously you wanna hide something
    @author Harry Roberts
    @see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

/*
  Use in conjunction with .sr-only to only display content when it's focused.
  @note Useful for skip links 
  @see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
  @note Based on a HTML5 Boilerplate technique, included in Bootstrap
  @note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
    @author Sylvain Pigeard
    @see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
