@use 'vars/mixins' as mixins;

.about {
  padding: 4rem 2rem 1rem 2rem;
  @include mixins.flex;
  flex-flow: column wrap;

  .header {
    @include mixins.flex;
    flex-flow: column wrap;
    text-align: center;
    color: var(--primary-color);
    max-width: 40rem;

    &__title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  .features {
    @include mixins.flex;
    flex-wrap: wrap;
    padding: 2.3rem 0;
    max-width: 70rem;

    .feature {
      flex: 0 1 20rem;
      @include mixins.flex(center, flex-start);
      flex-flow: column wrap;
      margin: 0.7rem;
      padding: 1.7rem;
      padding-bottom: 0;
      transition: transform 0.3s;
      cursor: pointer;
      box-shadow: 0 5px 17px var(--primary-gray);

      &__icon {
        font-size: 2.6rem;
        padding: 0.65rem 0;
      }

      &__title {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0.5rem 0;
      }

      &__description {
        margin: 0.4rem 0;
        color: var(--primary-color);
        line-height: 1.45rem;
        font-size: 0.95rem;
      }

      &__hidden {
        display: none;
      }

      $colors: #e9c46a, #2a9d8f, #f4a261, #219ebc, #e76f51, #264653;
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) .feature__icon {
          color: nth($colors, $i);
        }
      }

      &:hover {
        transform: translate(0, -5px);
      }

      &__arrow {
        font-size: 1.9rem;
        margin: 1rem 0;
        color: var(--primary-gray);
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: var(--primary-active);
        }
      }
    }
  }

  &__btn {
    @include mixins.btn;
    margin-top: 1rem;
  }
}
