:root {
  --primary-color: #303d67;
  --primary-color-rgb: 48, 61, 103;
  --primary-active: #4125c7;
  --primary-active-rgb: 65, 37, 199;
  --primary-green: #06c59a;
  --primary-green-rgb: 6, 197, 154;
  --primary-theme: #f8f7fc;
  --primary-white: #fff;
  --primary-red: #ff0a54;
}
