nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	background-color: $theme;

	.logo {
		text-transform: uppercase;
		color: $active-color;
		font-size: 1.4rem;
		margin-left: 10px;
	}

	.menu {
		display: flex;
		justify-content: flex-end;
		align-items: baseline;

		&__option {
			color: $main-color;
			font-weight: bold;
			margin: 0 5px;
			padding: 8px 15px;
			cursor: pointer;
		}

		&__mobile {
			display: none;
			color: $main-color;
		}

		&__active {
			color: $active-color;
		}

		&__contact {
			color: #fff;
			background-color: $active-color;
			box-shadow: 0px 2px 6px $active-color;
		}
	}
}

@media all and (max-width: 700px) {
	nav .menu {
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 3;
		width: 100%;
		justify-content: space-between;
		background-color: #fff;
		padding: 20px 45px;
		border-radius: 20px 20px 0 0;

		&__option {
			display: none;
		}

		&__mobile {
			display: block;
			font-size: 1.5rem;
		}
	}
}
