@use 'vars/mixins' as mixins;

.contact {
  padding: 3.3rem 1.7rem;
  @include mixins.flex;
  flex-flow: column wrap;
  max-width: 45rem;

  &__title {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 2rem;
    padding: 0 2.7rem;
  }

  &__description {
    color: var(--primary-color);
    text-align: center;
    line-height: 1.4rem;
  }

  &__form {
    @include mixins.flex;
    flex-flow: column wrap;
    margin: 3rem 0 0.6rem 0;
    width: 100%;
    max-width: 30rem;

    &__email {
      padding: 0.8rem 1.4rem;
      border: 0 none;
      border-radius: 40px;
      font-size: 1rem;
      background-color: var(--primary-white);
      width: 100%;
    }

    &__error {
      color: var(--primary-red);
      font-size: 0.9rem;
      margin-top: 0.4rem;
      display: none;
    }

    &__btn {
      border-radius: 40px;
      padding: 0.55rem 2.5rem;
      font-size: 1rem;
      border: 2px solid var(--primary-active);
      color: var(--primary-white);
      text-transform: uppercase;
      background-color: var(--primary-active);
      cursor: pointer;
      font-weight: bold;
      transition: all 0.3s;
      margin-top: 1.7rem;

      &:hover {
        color: var(--primary-active);
        background-color: var(--primary-white);
      }
    }
  }
}
