@use 'vars/mixins' as mixins;

.home {
  @include mixins.flex;
  position: relative;
  flex-flow: column wrap;
  padding: 1.7rem 2rem;

  &__title {
    text-align: center;
    font-size: 3.4rem;
    max-width: 50rem;
    color: var(--primary-color);
  }

  &__description {
    text-align: center;
    max-width: 50rem;
    color: var(--primary-color);
    line-height: 1.5rem;
  }

  &__btns {
    margin: 1.8rem 0;

    .btn {
      padding: 0.75rem 1.6rem;
      border: 0 none;
      margin: 0 0.6rem;
      cursor: pointer;
      font-size: 0.9rem;
      transition: all 0.3s ease-out;

      &--purple {
        color: var(--primary-active);
        background-color: rgba(var(--primary-active-rgb), 0.1);

        &:hover {
          background-color: var(--primary-active);
          color: var(--primary-white);
        }
      }

      &--green {
        color: var(--primary-green);
        background-color: rgba(var(--primary-green-rgb), 0.1);

        &:hover {
          background-color: var(--primary-green);
          color: var(--primary-white);
        }
      }
    }
  }

  .team {
    margin-top: 2rem;
    max-width: 45rem;
  }
}

@media all and (min-width: 750px) {
  .home {
    padding-top: 6rem;
  }
}
