@use 'vars/mixins' as mixins;

.third {
  @include mixins.flex;
  flex-flow: column wrap;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 75rem;

  .service {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: center;
    justify-items: center;
    padding: 2rem 0;
    position: relative;
    width: 100%;

    .description,
    .build,
    .delivery {
      max-width: 32rem;
      width: 100%;
    }

    .description {
      max-width: 32rem;
      margin: 2rem;

      &__title {
        color: var(--primary-color);
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.8rem;
      }

      &__subtitle {
        line-height: 1.5rem;
      }

      &__text {
        color: var(--primary-color);
        padding: 0.8rem 0;
        padding-top: 0;
        line-height: 1.4rem;
        font-size: 0.95rem;
      }

      &__btn {
        @include mixins.btn;
      }

      .feature {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;

        &__icon {
          color: var(--primary-active);
          border-radius: 50%;
          @include mixins.flex;
          background-color: rgba(var(--primary-active-rgb), 0.1);
          width: 75px;
          height: 75px;
          margin-right: 20px;
          font-size: 1.4rem;
        }

        &__description {
          &__title {
            font-size: 1.1rem;
            font-weight: bold;
            color: var(--primary-color);
            padding: 0.5rem 0;
            margin: 0;
          }

          &__text {
            font-size: 0.9rem;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
}
